astro-n8n-workflow.json
{
  "name": "Astrology Prediction Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "astro",
        "method": "POST"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatInput",
              "value": "={{$json[\"name\"]}} born on {{$json[\"dob\"]}} at {{$json[\"tob\"]}} in {{$json[\"pob\"]}}. Gender: {{$json[\"gender\"]}}, Focus: {{$json[\"focus\"]}}. Generate a personalized astrology prediction."
            }
          ]
        }
      },
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "prompt": "={{$json[\"chatInput\"]}}"
      },
      "name": "Groq AI",
      "type": "n8n-nodes-base.groqAi",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prediction",
              "value": "={{$json[\"text\"]}}"
            }
          ]
        }
      },
      "name": "Set Prediction",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "={{$json[\"email\"]}}",
        "subject": "Your Astrology Prediction",
        "html": "<p>Hello {{$json[\"name\"]}},</p><p>Here is your astrology prediction:</p><pre>{{$json[\"prediction\"]}}</pre><p>Best regards,<br>Astro Prediction Team</p>"
      },
      "name": "Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"message\": \"Prediction sent to email successfully\" }"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "Groq AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI": {
      "main": [
        [
          {
            "node": "Set Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prediction": {
      "main": [
        [
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}